langchain
python-dotenv
langchain
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
python-dotenv
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain-openai
streamlit
ollama
langchain_groq
langchain_core
fastapi
uvicorn
langserve
duckduckgo-search